doctype 5
html
  head
    title Mirreal's Notes
    link(rel='stylesheet', href='/css/style.css')
    script(src="/socket.io/socket.io.js")
  body
    h2 Welcome You: 
    hr
    block body
    hr
    footer
     p Copyright Mirreal's Notes 2014
